.items-box{
  width: max-content;
  margin: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.no-items{
  font-style: italic;
  font-weight: lighter;
}